/* loader auth */
.loader {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
  radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
  conic-gradient(#0000 30%, #ffa516);
-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0); /* Define the standard property */
animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
/* style section register */
.section__register,
.section__login
 {
    position: relative;
    margin-bottom: 50px;
  }
  .section__register .backImg,
  .section__login .backImg {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .section__register .backImg img,
  .section__login .backImg img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .section__register .text,
  .section__login .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
    color: #fff;
  }
  .section__register .text h3,
  .section__login .text h3{
    font-weight: 600;
    margin-bottom: 10px;
  }
  .section__register .text h1,
  .section__login .text h1 {
    font-size: 40px;
  }
  .section__register a,
  .section__login a  {
    margin-top: 20px;
    text-decoration: none;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    margin-top: 23px;
    padding:20px ;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: white;
  }
  form .title-input{
    padding-bottom: 5px;
  }
  form input{
    outline: none;
    border: none;
    border: 1px solid #212121;
    border-radius: 6px;
    color: #212121;
    font-size: 15px;
    margin-bottom: 30px;
    min-height: 44px;
    padding: 0 20px;
    transition: border-color .2s ease;
    width: 100%;
    background-color: #e8f0fe;
  }
  .button__register{
    background: #212121;
    border: 1px solid #212121;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    height: 48px;
    line-height: 1;
    padding: 15px 28px;
  }
/* style of section login */
.button__login{
    background: #212121;
    border: 1px solid #212121;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    height: 48px;
    line-height: 1;
    padding: 15px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__login input{
    margin-bottom: 0 !important;
  }
  .login {
    height: 74vh;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .login .form {
    width: 100%;

  }
  /* media */
  @media screen and (max-width:600px) {
     form{
      width: 90%;
     }
  }