

.custom-class-toast{

    color: white; /* Adjust text color to ensure readability */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 280px;
}





  